.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;

  .thead tr {
    border-bottom: 1px solid black;
    height: 50px;
    background-color: black;
    color: white;
  }
}

.table-data {
  height: 30px;
  background-color: antiquewhite;

  .isNPaid {
    p {
      background-color: red;
      color: white;
      height: 25px;
      margin: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
    }
  }
  .isPaid {
    p {
      background-color: green;
      color: white;
      height: 25px;
      margin: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
    }
  }

  .orderStatus {
    p {
      background-color: rgb(81, 125, 81);
      color: white;
      height: 25px;
      margin: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
    }
  }
}
